*{font-family: 'Open Sans', sans-serif;}
header {
    background-color:#4682B4;
    color:#FFFFFF;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:#4682B4;
    color:#FFFFFF;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #3399FF;
    color: white;
}

li a:hover:not(.active) {
    background-color: #33CCFF;
    color: #000033;
}